.card {
  width: 25rem;
  height: 32rem;
  margin-left: 0.5cm;
  margin-top: 0.5cm;
  margin-bottom: 0cm;
  border-radius: 5%;
  border-color: black;
  border-style: solid;

}

.data {
  text-align: center;
  text-align: left;
  font-size: medium;
  margin: 0.5cm;
}